<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
    <title>Jitsi Data Provider</title>
</head>
<body>
   <h1 align="center">The process is finished. Go and check Kibana dashboard</h1>
	  <img src={{ url_for('static', filename='finish.jpg') }} alt="Mario Img" width="70%" height="50%" class="center">
</body>
</html>